/*ASPECTOS*GENERALES*******************************************************************/
/***  fuentes empleadas  */
@font-face {
  font-family: "Montserrat";
  src: url('font/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 1 999;
  /* Me ocurre lo mismo que en su solción de PEC2 con esta fuente - le copio la solución para solventar el bug*/
  font-weight: 400 700 900;
}

/***  colores y familia de fuente principal  */
:root {
  --text-color-dark: #2A2A2A ;
  --text-color-contrast:#FFFFFF;
  --main-color: #79BAAB;
  --main-color-light: #C5E1DB;
  --contrast-color: #DC4A23;
  --contrast-color-light: #EB9781;
  --bg-body: #FFF7E8;
  --font-sans: 'Montserrat', sans-serif;
}

/***  elementos globales  */
* {
  box-sizing: border-box;

  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--text-color-dark);

  margin: 0;
  padding: 0;

  text-decoration: none;
  list-style: none;
}

/***  formatos de textos generales  */
h1, h2, h3, h4, legend {
  font-family: 'Montserrat';
  font-weight: 900;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  max-width: 500px;
}

h2 {
  font-size: 2rem;
  text-transform: uppercase;
  max-width: 500px;
  margin: 10px 0;
}

section h3 {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
}

h4 {
  font-size: 2rem;
  max-width: 500px;
}

legend {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  padding: 0px 15px;
}

figcaption,  aside legend, label h3 {
  font-family: var(--font-sans);
  font-weight: 900;
  text-align: left;
  font-size: 0.9rem;
  color: var(--text-color-dark);
  padding: 0px 0px;
  text-transform: uppercase;
}

p {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 15px;
}

/***  colores principales  */
header       { background-color: #FFFFFF;    }
footer       { background-color: #2A2A2A;    }

/*GRID AREAS *******************************************************************/
/***  Areas para el uso de 'grid' en la estructura  */
.intro         { grid-area: introduccion;}
aside          { grid-area: izquierda;   }
article        { grid-area: contenido;   }
.paginacion    { grid-area: paginacion;  }

.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "introduccion"
    "contenido"
    "paginacion";
}

@media (max-width: 600px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "introduccion"
      "contenido"
      "paginacion"
  }
  aside {
    display: none;    /*Permite hacer desaparecer esta sección en pantallas pequeñas*/
  }
}

@media (min-width: 600px) {
  .wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
    "introduccion introduccion"
    "izquierda    contenido"
    "izquierda    paginacion";
  }
  .snav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

/***  Otros grid, media  */
.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

@media (max-width: 600px) {
  .grid-4, .grid-3 {
    grid-template-columns: repeat(2, 1fr);
  }
  .intro h2, .intro p {  text-align: center;  }
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .grid-2 {
    grid-template-columns: repeat(1, 1fr);
  }

  .intro h2, .intro p {  text-align: center;  }
}

/***  flexbox  */
.main-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/*DISEÑO DEL HEADER FOOTER Y NEWSLETTER *******************************************************************/
.work-area {
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
}

body {
   background-color: var(--bg-body);
}

main {
  margin-top: 60px;
  padding-bottom: 20px;
}

/***  header  */
.main-header {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 65px;
  color: var(--text-color-dark);
  padding: 5px 0;
  box-shadow: 0px 10px 10px -10px black;
}

.logo img {
  width: 200px;
}

.nav-links ul li, .social ul li {
  display: inline-block;
  vertical-align: middle;
  padding: 0 5px;
}

.nav-links a {
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 1rem;
}

.nav-links a:hover {
  color: var(--main-color-light);
}

.nav-links .active {
  font-family: var(--font-sans);
  font-weight: 900;
  border-bottom: dashed 1px var(--text-color-dark);
  padding: 3px;
}

/***  newsletter  */
section.news { /*fondo y dimensiones de newslette*/
  background-color: #79BAAB;
  width: 100hw;
  height: 250px;
  padding: 0px;
}

.laimagen { /*diseño y transparencia del fonodo*/
  width: 100%;
  height: 100%;
  background-image: url(../img/doodle.png);
  background-repeat: repeat;
  opacity: 0.1;
}

.news-content { /*Contenido, se encuentra una capa por encima del diseño de fondo*/
  position: absolute;
  width: 100%;
  z-index: 1;
  padding: 40px 0;
}

.news p {
  text-align: center;
  max-width: 400px;
  line-height: 1.5rem;
}

.news-content form {
  display: flex;
  max-width: 400px;
}

.campo-email {
  font-size: 0.8rem;
  width: 80%;
  height: 2rem;
  padding: 10px 10px;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  outline: none;
}

.btn-sub {
  height: 2rem;
  padding: 0px 15px;
  border: none;
  font-size: 0.8rem;
  border-radius: 3px;
  background-color: var(--contrast-color);
  color:var(--text-color-contrast);
  cursor: pointer;
}

.btn-sub:hover {
  background: var(--contrast-color-light);
}

/***  footer  */
.policy, .social {
  height: 80px;
}

.policy p, .policy a {
  font-size: 0.8rem;
  color: var(--text-color-contrast);
  margin: 0 0;
}

.social p {
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 0.8rem;
  color: var(--text-color-contrast);
  width: 200px;
  margin: 0 0;
}

.policy a:hover {
  color: var(--main-color);
}

.social ul li {
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 0.8rem;
  color: var(--text-color-contrast);
}

.social a:hover {
  opacity: 0.7;
}

hr {
  width: 98%;
  max-width: 850px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .main-flex, .social ul li:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .main-header {  height: 85px;   }
  main         {  margin-top: 85px}
  .policy      {  height: 80px;   }
  .social      {  height: 130px;  }
  .social p    {  width: auto;    }
  .social ul li:first-child { margin-bottom: 15px;}
  }
  
/******************************/
/*INDEX*/
section {
  padding: 20px 0;
}

/***  section one  */
.index-one {
  background-image: url("../img/knife-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 55px;
  padding: 50px 10px;
  box-shadow: inset 0px 10px 10px -10px black;
}

@media (max-width: 600px) {
  .index-one {  margin-top: 75px;}
}

.campo-search {
  font-size: 0.8rem;
  width: 350px;
  height: 3rem;
  padding: 10px 10px;
  margin-top: 25px;
  border: solid 2px var(--main-color);
  outline: none;
  border-radius: 5px;
  /*icono search*/
  background-image: url('../img/icons/search.svg');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 1.1rem;
  padding-left: 40px;
}

/***  section two  */
fieldset {
  border: none;
  border-top: solid;
  padding: 15px 0;
}

figure img{
  width: 100%;
}

/***  section three  */
 .index-three {
  background-image: url("../img/shop-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
}

.box-white {
  text-align: center;
  background-color: #FFFFFF;
  width: 95%;
  max-width: 500px;
  padding: 35px 30px;
}

.box-white a {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 1rem;
  color: var(--contrast-color);
}

.box-white a:hover {
  color: var(--contrast-color-light);
}

/*Index-four*/
.left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
}

.btn-recipe {
  text-align: center;
  height: 2rem;
  width: 120px;
  padding: 6px 10px;
  font-size: 0.8rem;
  border-radius: 3px;
  background-color: #FFFFFF;
  color: var(--main-color);
  border: solid 1px var(--main-color);
  cursor: pointer;
}

.btn-recipe:hover {
  background-color: var(--main-color);
  color:#FFFFFF;
}

/******************************/
/*recipes*/
.paginacion {
  text-align: center;
}
.paginacion ul li {
  display: inline;
  padding: 3px;
}
.grid-3 a:hover { color: var(--main-color);}
.paginacion a       { color: var(--main-color);  }
.paginacion a:hover { color: var(--main-color-light); }

aside {
  background-color: #FFFFFF;
  padding: 15px;
}

aside fieldset {
  border: none;
  padding: 5px 0px 20px 0px;
}

aside .campo-search {
  font-size: 0.8rem;
  width: 100%;
  height: 2.3rem;
  margin: 0;
}

label h3 {
  margin-bottom: 5px;
}

input {
  margin: 5px 5px 5px 0px;
}

.grid-3 a figcaption:hover {
  color: var(--main-color);
}

/******************************/
/*videos*/
.grid-2 figure {
  background-color: #FFFFFF;
}

.white-description {
  padding: 15px;
}


.white-description figcaption {
  margin-bottom: 10px;
}

.video-container {
  position: relative;
  z-index: 1;
  padding-bottom:55%;
  overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

